[submodule "triangle"]
	path = triangle
	url = git@gitlab.cosy.sbg.ac.at:cg/code/triangle.git
[submodule "pao/easyloggingpp"]
	path = pao/easyloggingpp
	url = https://github.com/weaselp/easyloggingpp
